@font-face {
  font-family: "caslon";
  src: url("/fonts/caslon-pro/ACaslonPro-Regular.otf");
}
@font-face {
  font-family: "caslon";
  font-weight: bold;
  src: url("/fonts/caslon-pro/ACaslonPro-Bold.otf");
}
@font-face {
  font-family: "caslon";
  font-style: italic;
  src: url("/fonts/caslon-pro/ACaslonPro-Italic.otf");
}

body {
  margin: 0;
  /* font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "caslon", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(54 55 57);
  color: #ddd;

  line-height: 1.45;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hamlet-text {
  max-width: 620px;
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 620px) {
  #hamlet-text {
    margin-right: 0;
    margin-left: 15%;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
}

.entry {
  font-size: 22px;
}

@media (min-width: 1200px) {
  .entry {
    font-size: 24px;
  }
}

.entry--title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 1em;
}
.entry--title-scene {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
.entry--direction {
  font-style: italic;
  text-align: center;
}
.entry--name {
  font-weight: bold;
  font-variant-caps: small-caps;
  margin-top: 1em;
}
@media (min-width: 600px) {
  .entry--dialogue {
    padding-left: 1.2em;
  }
}

.entry--dialogue + .entry--direction {
  margin-top: 1em;
}

.entry span {
  opacity: 0;
}
span.visible {
  opacity: 1;
}

@keyframes blink {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.68;
  }
}
span.current {
  animation: blink 0.6s alternate infinite;
}
